= javascript_include_tag "modal"

%table{:class => "table table-hover table-striped table-scroll"}
  %thead
    %tr
      %th 
      %th Date
      %th Message
      %th Status
      %th Action
  %tbody
    -if @sync
      -if @step_count != 3
        %tr
          %th{:scope => "row"}
          %td
          %td
            %small Currently syncing your data..
          %td
          %td
            %i{:class => "fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"}

    -@table_data.each_with_index do |item, index| 
      -if item["type"] != nil
        -if @step_count == 3
          .div{:id => "sync_data"}
            %tr
              %th{:scope => "row"}
                .glyphicon{:class => "#{@icon}", :style => "color:#{@color}"} 
              %td
                %small= item["date"].strftime("%A, %d %B %Y, %H:%M:%S")
              %td
                %small= item["message"]
              %td
                -if @color == "red"
                  %small Sync failed
                -elsif @color == "green"
                  %small Sync is successful
                -else
                  %small Unable to sync some data
              %td
                =button_tag "View Details", :class => "btn btn-info btn-xs", "data-toggle" => "modal", "data-target" => "#sync_information"
      -else
        %tr
          %th{:scope => "row"}
            -if item.response == "200  OK" || item.response == "201  Created"
              .glyphicon.glyphicon-ok-sign{:style => "color:green"}
            -else
              .glyphicon.glyphicon-remove-sign{:style => "color:red"} 
          %td
            %small= item.created_at.strftime("%A, %d %B %Y, %H:%M:%S")
          %td
            %small= item.kind
          %td
            -if item.response == "201  Created"
              %small Created
            -elsif item.response == "200  OK"
              %small Updated
            -else
              %small Failed
          %td
            -if item.response != "200  OK" && item.response != "201  Created"
              =button_tag "View Details", :class => "btn btn-info btn-xs btn-detail", :id => "#{item.kind.gsub(/\s+/, "")}", "data-toggle" => "modal", "data-target" => "#fail_information"
              .hiddenfield
                -fail_info = @fail_array[@fail_array.find_index{|x| x["kind"] == "#{item.kind}"}]
                =hidden_field_tag "#{item.kind.gsub(/\s+/, "")}", fail_info["response"]


.modal.fade#sync_information
  .modal-dialog
    .modal-content
      .modal-header
        .pull-right
          %button#close_sync_modal{:class => "close"} x
        .h3 Sync Information
      .modal-body
        .row
          .col-xs-2
            %p Products:
          .col-xs-10
            %textarea{"readonly" => true, "style" => "width:100%; height:100px;"}
              =@product_message
        .row
          .col-xs-2
            %p Customers:
          .col-xs-10
            %textarea{"readonly" => true, "style" => "width:100%; height:100px;"}
              =@customer_message
        .row
          .col-xs-2
            %p Orders:
          .col-xs-10
            %textarea{"readonly" => true, "style" => "width:100%; height:100px;"}
              =@order_message

      .modal-footer
        .text-center
          = button_tag "Got it!", :class => "btn-success", :id => "confirm_sync"


.modal.fade#fail_information
  .modal-dialog
    .modal-content
      .modal-header
        .pull-right
          %button#close_fail_modal{:class => "close"} x
        .h3 Log Detail
      .modal-body
        .row
          .col-xs-3
            Error Information: 
          .col-xs-9
            .modal_info

      .modal-footer
        .text-center
          = button_tag "Got it!", :class => "btn-success", :id => "confirm_fail"