= stylesheet_link_tag "style"
= stylesheet_link_tag "content"

- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.loadingOff();
      ShopifyApp.Bar.initialize({
        title: "Configuration",
        icon: "#{asset_path('Logo_small.png')}"
      });
    });

    $("[name='webhook_checkbox']").bootstrapSwitch();
    $('input[name="webhook_checkbox"]').on('switchChange.bootstrapSwitch', function(){
      $.ajax({
        url: "#{shop_path}",
        type: 'PATCH',
        data: {"webhook_checkbox": this.checked}
      });
    });
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    });

.content
  .container
    .row
      .col-xs-1
        %img{:src => "#{asset_path('Logo_small.png')}", :class => "img-thumbnail", "min-width" => "50", "min-height" => "50"}
      .col-xs-3
        .row
          %h4= @company_name
        .row
          %p By: Jurnal
    
    %br
    .row
      .col-xs-5
        %body Webhooks :
        = check_box_tag 'webhook_checkbox', 'reset', @checked, "data-size" => "mini"
        %i{:class => "fa fa-question-circle-o", "data-toggle" => "tooltip", "data-placement" => "right", :title => "When activated, it allows the system to automatically send data to Jurnal when it detected recently created and/or updated Order, Product, and Customer"}

    %br
    .row
      .col-xs-6
        .panel{:class => "panel-warning"}
          .panel-heading
            .h4
              %font{:color => "black"} Notice 
          .panel-body
            .row
              .col-xs-12
                %body To track product category and product quantity, Jurnal Pro or Enterprise account is required
    %br
    .row
      .col-xs-6
        .pull-left
          = link_to "Back", {:controller => "shops", :action => "show"}, :class => "btn btn-primary", :target => "_self", :method => "get", :onclick => "ShopifyApp.Bar.loadingOn()"

=render "footer"