= stylesheet_link_tag "style"
= stylesheet_link_tag "content"
= javascript_include_tag "table_update"

- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.loadingOff();
      ShopifyApp.Bar.initialize({
        title: "Dashboard",
        icon: "#{asset_path('Logo_small.png')}"
      });
    });

    $(".btn-detail").click(function() {
      $(".modal_info").text($(".hiddenfield").find("#" + this.id).val());
    });

    if (#{@shop.sync_status} == 1) {
      $(function() {
        updateTable();
      })
    }


.content
  .container
    .row
      .col-md-4
        .row
          .col-md-3
            %img{:src => "#{asset_path('Logo_small.png')}", :class => "img-thumbnail", "min-width" => "50", "min-height" => "50"}

          .col-md-4
            .row
              .h4= @company_name
              
            .row
              %body By: Jurnal
        
          .col-md-5
            .pull-right
              = button_to "Configure", {:controller => "shops", :action => "edit"}, :class => "btn btn-success", :target => "_self", :method => "get", :onclick => "ShopifyApp.Bar.loadingOn()"
      
      .col-md-7
        .panel{:class => "panel-success"}
          .panel-heading
            %font{:color => "black"} System Log

          .div{:id => "log_table"}
            =render "log_table"

=render "footer"