.feature_list {
  font-weight: bold;
}

.feature-content {
  text-align: center;
}

#sub-feature {
  padding-left: 20px;
}

#feature-text:hover{
  cursor: pointer;
  cursor: hand;
}

.content {
  text-align: left;
  margin-top: 5%;
  font-size: 16px;
}

.login-content {
  align-items: center;
  text-align: center;
}

.center-item {
  margin-top: 20px;
  padding-top: 20px;
}

.login-picture {
  height: 100px;
}

.input {
  height: 30px;
  width: 300px;
}

.jumbotron-padding {
  padding-left: 3%;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted {
  margin: 20px 0;
}